
/* Regla 1: selector universal */
* {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}


/* Regla 2: body */
body {
    margin: 0;
    padding: 0 20%;
}

/* Regla 3: h1 */
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* Regla 4: clase selector */
.selector {
    color: lightcyan;
}

/* Regla 5: clase selectors */
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/* Regla 6: id universal */
#universal {
    color: lightgoldenrodyellow;
}

/* Regla 7: h2 con clase selector y h2 con id universal */
h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/* Regla 8: span */
span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/* Regla 9: a hijos directos de li */
li > a {
    text-decoration: none;
}

/* Regla 10: h3 */
h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* Regla 11: div descendientes de #gallery */
#gallery div {
    width: 100%;
}

/* Regla 12: img */
img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}
